
{% extends "emails/base.html" %}

{% block title %}Сбросьте пароль{% endblock %}

{% block greeting %}Привет, {{ username }}!{% endblock %}

{% block lead_text %}
  Мы получили запрос на установку пароля для вашего аккаунта AISchool. Используйте код подтверждения ниже в приложении, чтобы продолжить. Срок действия кода ограничен, поэтому рекомендуем воспользоваться им как можно скорее.
{% endblock %}

{% block code_block %}
  <tr>
    <td style="padding: 20px 0; text-align: center;">
      <div class="code-box">
        {{ code }}
      </div>
    </td>
  </tr>
{% endblock %}

{% block closing_text %}
  Если это были не вы, просто проигнорируйте это письмо.
{% endblock %}
